.highlight .hll { background-color: #ffc; }

.highlight .c { color: #999; }

/* Comment */
.highlight .err { color: #a00; background-color: #faa; }

/* Error */
.highlight .k { color: #069; }

/* Keyword */
.highlight .o { color: #555; }

/* Operator */
.highlight .cm { color: #09f; font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: #099; }

/* Comment.Preproc */
.highlight .c1 { color: #999; }

/* Comment.Single */
.highlight .cs { color: #999; }

/* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid #c00; }

/* Generic.Deleted */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #f00; }

/* Generic.Error */
.highlight .gh { color: #030; }

/* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0; }

/* Generic.Inserted */
.highlight .go { color: #aaa; }

/* Generic.Output */
.highlight .gp { color: #009; }

/* Generic.Prompt */
/* Generic.Strong */
.highlight .gu { color: #030; }

/* Generic.Subheading */
.highlight .gt { color: #9c6; }

/* Generic.Traceback */
.highlight .kc { color: #069; }

/* Keyword.Constant */
.highlight .kd { color: #069; }

/* Keyword.Declaration */
.highlight .kn { color: #069; }

/* Keyword.Namespace */
.highlight .kp { color: #069; }

/* Keyword.Pseudo */
.highlight .kr { color: #069; }

/* Keyword.Reserved */
.highlight .kt { color: #078; }

/* Keyword.Type */
.highlight .m { color: #f60; }

/* Literal.Number */
.highlight .s { color: #d44950; }

/* Literal.String */
.highlight .na { color: #4f9fcf; }

/* Name.Attribute */
.highlight .nb { color: #366; }

/* Name.Builtin */
.highlight .nc { color: #0a8; }

/* Name.Class */
.highlight .no { color: #360; }

/* Name.Constant */
.highlight .nd { color: #99f; }

/* Name.Decorator */
.highlight .ni { color: #999; }

/* Name.Entity */
.highlight .ne { color: #c00; }

/* Name.Exception */
.highlight .nf { color: #c0f; }

/* Name.Function */
.highlight .nl { color: #99f; }

/* Name.Label */
.highlight .nn { color: #0cf; }

/* Name.Namespace */
.highlight .nt { color: #2f6f9f; }

/* Name.Tag */
.highlight .nv { color: #033; }

/* Name.Variable */
.highlight .ow { color: #000; }

/* Operator.Word */
.highlight .w { color: #bbb; }

/* Text.Whitespace */
.highlight .mf { color: #f60; }

/* Literal.Number.Float */
.highlight .mh { color: #f60; }

/* Literal.Number.Hex */
.highlight .mi { color: #f60; }

/* Literal.Number.Integer */
.highlight .mo { color: #f60; }

/* Literal.Number.Oct */
.highlight .sb { color: #c30; }

/* Literal.String.Backtick */
.highlight .sc { color: #c30; }

/* Literal.String.Char */
.highlight .sd { color: #c30; font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 { color: #c30; }

/* Literal.String.Double */
.highlight .se { color: #c30; }

/* Literal.String.Escape */
.highlight .sh { color: #c30; }

/* Literal.String.Heredoc */
.highlight .si { color: #a00; }

/* Literal.String.Interpol */
.highlight .sx { color: #c30; }

/* Literal.String.Other */
.highlight .sr { color: #3aa; }

/* Literal.String.Regex */
.highlight .s1 { color: #c30; }

/* Literal.String.Single */
.highlight .ss { color: #fc3; }

/* Literal.String.Symbol */
.highlight .bp { color: #366; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #033; }

/* Name.Variable.Class */
.highlight .vg { color: #033; }

/* Name.Variable.Global */
.highlight .vi { color: #033; }

/* Name.Variable.Instance */
.highlight .il { color: #f60; }

/* Literal.Number.Integer.Long */
.css .o, .css .o + .nt, .css .nt + .nt { color: #999; }

.columns { display: flex; flex-wrap: wrap; margin-left: -0.75rem; margin-right: -0.75rem; margin-top: -0.75rem; margin-bottom: -0.75rem; }

.column { display: flex; flex-basis: 0; flex-grow: 1; flex-shrink: 1; padding: 0.75rem; }

a.card { width: 100%; display: block; color: #2b2b2c; background: #F2F3F3; border-radius: 2px; border: 2px solid transparent; padding: 30px 35px; transition: all .2s; }

a.card a { color: #2b2b2c; }

a.card:hover { color: #2b2b2c; text-decoration: none; border-color: #F26322; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); transform: translateY(-3px); }

a.card:active { transform: translateY(0); }

a.card p:last-child { margin-bottom: 0; }

.home-getting-started .column { width: 50%; flex-basis: 50%; }

@media (max-width: 768px) { .home-getting-started .column { width: auto; flex-basis: auto; padding-left: 0; padding-right: 0; } }

.home-contribute .intro { text-align: center; }

.home-contribute h2 { font-size: 40px; font-weight: 300; }

@media (max-width: 768px) { .home-contribute h2 { font-size: 34px; } }

.home-contribute .column { flex-basis: 33%; flex-grow: 0; }

.home-contribute .column p:last-child { margin-bottom: 0; }

@media (max-width: 1023px) { .home-contribute .column { flex-basis: 50%; } }

@media (max-width: 768px) { .home-contribute .column { width: auto; flex-basis: auto; padding: 0; } }

dl dd { margin-left: 20px; }

.message-banner { margin: 0; padding: 10px 20px; border-left: none; border-right: none; border-top: none; }

.material-icons.edit { vertical-align: sub; }

.material-icons.warning { vertical-align: sub; color: #ffa500; }

.material-icons.green { color: #008000; }

.site-nav { border-bottom: solid 1px #CAC3B4; }

.highlight .gd, .highlight .gi { border: none; background: none; }

.highlight .gi { color: #00B218; }

.highlight .gd { color: #FF3B6F; }
